.contacts {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;

    &__link {
      display: flex;
      align-items: center;
    }
  }

  @media (min-width: 1440px) {
    display: none;
  }

  &__item:not(:last-child) {
    margin-right: 16px;
  }

}